.search-desc{
  font-weight : 500;
  font-size : 14px;
}
.search-wrapper{
  margin-top : 8px;
  display : flex;
  gap : 0 16px;
}
.search-input{
  width : 16px;
  height : 16px;
}
.status-item{
display : flex;
gap : 6px;
align-items: center;
font-size : 14px;
}