.todo-app{
  background-color: var(--white-color);
  display : flex;
  flex-direction: column;
  height : 90vh;
  border-radius : 5px;
  padding : 20px;
  width : 500px;
  margin : 0 auto;
  box-shadow: rgb(191 191 191) 0px 0px 10px 4px;
  position : relative;

}
.title {
  text-align : center;
  font-size : 38px;
  background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom : 20px;
}
.option-more{
  position : absolute;
  bottom : 20px ;
  left : 20px;
  right : 20px;
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.deleta-all{
  padding : 10px 20px;
  border-radius : 4px;
  border : none;
  color : white;
  background-color: #40a9ff;
  &:hover {
    cursor : pointer;
    opacity : 0.7;
  }
}
.dark-light{
  width : 80px;
  height : 40px;
  background-color: rgb(154, 145, 145);
  border-radius : 99999px;
  cursor:pointer;
  position: relative;
}
.active {
  display : block;
  width : 32px;
  height : 32px;
  background-color: #e8e5e5;
  border-radius :999999px;
  cursor:pointer;
  transition : 0.2s all ease-in-out;
  position:  absolute;
  left : 5px;
  top : 50%;
  transform: translateY(-50%);
}